.linkBasic {
    text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #476d93;
}

.formContainer {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #eee;
    box-shadow: 0px 0px 30px -20px black;
}

.formContainer form {
    padding: 10px 0;
    width: 350px;
    /* border: 1px solid black; */
}

.formContainer form > div {
    padding: 5px 0;
}

.formContainer form label {
    display: block;
    padding: 5px 0;
}

.formContainer form input,
.formContainer form button {
    font-size: 1em;
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
}

.formContainer form input {
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(245, 245, 245, 0.678);
}

.formContainer form input:focus {
    outline: none;
    border-color: #0d75ec;
}

.formContainer form button {
    cursor: pointer;
    color: whitesmoke;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #066acd;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
